/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

.App {
  font-family: 'Georgia', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.logo {
  width: 600px;
  max-width: 90%;
  margin-bottom: 20px;
}
