@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: #00b7c2;
  color: white;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 20px;
}

.logo {
  width: 600px;
  max-width: 90%;
  margin-bottom: 20px;
}
